footer{
    position: fixed;
    height: 30px;
    background-color: rgb(61, 60, 60);
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
}
nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 0rem;
}
a {
    display: block;
    padding: 10px;
    background-color: #dddddd;
    float: right;
    
}
#hp  {
    float: left;    
     margin: 0 0 0 15px;
    }
header {
        font-size: 2rem;
        position: fixed;
        left: 0;
        right: 0;
        box-shadow: 0 2px 4px -2px black;
        background-color: antiquewhite;
        color: antiquewhite;
        margin-top: 0;
}
body{
    background-color: rgb(102, 18, 18);
}
h1{
    margin-top: 0;
}

